.company__hero {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
  }
  .company__conatiner {
  }
  .company__hero__top {
    background-image: url(../../images/request-right.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 48px 52px;
    margin-bottom: 6.4rem;
  }
  .company__hero__image {
    margin-bottom: 2.4rem;
  }
  .company__hero__top__caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
    margin-bottom: 2rem;
  }
  .company__hero__top__title {
    width: 664px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 2.4rem;
  }
  .comapny__hero__desc {
    width: 719px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232536;
    opacity: 0.87;
  }
  .copmany__image__wrapper {
    display: flex;
    gap: 1.2rem;
  }
  .company__image__wrapper__item {
  }
  .company__image {
  }
  
  .story {
    margin-bottom: 9.6rem;
  }
  .story__container {
    display: flex;
    align-items: center;
  }
  .container {
  }
  .stroy__left {
    margin-right: 10.6rem;
  }
  
  .blue-story {
    margin-bottom: 1.6rem;
  }
  .story__left__caption {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 1.6rem;
  }
  .story__left__title {
    width: 549px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 2.4rem;
  }
  .story__left__desc {
    width: 550px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232536;
    opacity: 0.87;
  }
  .story__right {
    background-color: #ffd3af91;
    padding-top: 6.2rem;
    padding-right: 21.4rem;
    padding-bottom: 8rem;
    padding-left: 11rem;
    display: flex;
    gap: 6.2rem;
    flex-wrap: wrap;
  }
  .story__card {
  }
  .story__number {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 0.8rem;
  }
  .story__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #232536;
    opacity: 0.87;
    margin-top: 0.2rem;
  }
  
  .logo__bar {
    margin-bottom: 9.6rem;
  }
  .logo__bar__conatiner {
    background-color: #fafafc;
    display: flex;
    justify-content: space-around;
  }
  .logo__bar__image {
  }
  .expertis {
    background-color: #ecf8f9;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    margin-bottom: 9.6rem;
  }
  
  .vision {
    margin-bottom: 9.6rem;
  }
  .vision__container {
  }
  .vision__caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
    margin-bottom: 1.6rem;
  }
  .vision__title {
    width: 701px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0px;
    margin-bottom: 2.4rem;
    color: #232536;
  }
  .vision__desc {
    width: 622px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232536;
    opacity: 0.6;
    margin-bottom: 6.4rem;
  }
  .vision__image {
  }
  
  .team {
  }
  .team__container {
  }
  .container {
  }
  .team__captin {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
    margin-bottom: 1.6rem;
  }
  .team__title {
    width: 624px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 2.4rem;
  }
  .team__desc {
    width: 505px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232536;
    opacity: 0.87;
    margin-bottom: 6.4rem;
  }
  .team__image__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .team__image {
  }