.privacy {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
  }
  .privacy__container {
    background-image: url(../../images/privacy-bg.svg);
    background-repeat: no-repeat;
    background-position: top right 20px;
  }
  .privacy__orange {
    margin-bottom: 2.4rem;
  }
  
  .privacy__caption {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 0.8rem;
  }
  .privacy__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232536;
    opacity: 0.6;
    margin-bottom: 7.2rem;
  }
  .privacy__text__contant {
    padding-top: 9.6rem;
    padding-right: 23rem;
    padding-bottom: 9.6rem;
    padding-left: 21.9rem;
    background-color: #ecf8f9;
    background-image: url(../../images/Shapes-privacy.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .privacy__text--title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 2.4rem;
  }
  .privacy__text--desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 2.4rem;
  }
  .privacy__text--caption {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    color: #232536;
    margin-bottom: 1.6rem;
  }