
.header {
}
.header__nav {
  background-color: #232536;
}
.header__nav__container {
  display: flex;
  justify-content: space-between;
  padding-top: 2.7rem;
  padding-bottom: 2.829rem;
}
// .orange-line {
//   border-top: 3px solid #ffa155;
// }
.site__logo {
}
.site__logo__image {
}
.header__nav__right {
  display: flex;
  gap: 3.2rem;
}
.header__nav__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.header__nav__item {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.header__nav__item--link {
  color: #fff;
  opacity: 0.6;
}
.clone-btn {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #ffd3af;
}