.header {
  background-color: #232536;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.container {
}
.header__images {
  width: 122;
  height: 24.708860397338867;
  top: 27px;
  left: 160px;
}

.header__list {
  display: flex;
  gap: 32px;

  width: 529;
  height: 49;
  top: 3px;
  left: 742px;
}
.header__itm {
  width: 529;
  height: 49;
  top: 3px;
  left: 742px;
}
.header__link {
  color: #fff;
}

.header__links {
  width: 137;
  height: 24;
  top: 28px;
  left: 1303px;
  border-width: 1px;
  color: #ffd3af;
}

.header__span {
  display: flex;
}
.hr {
  color: #ffffff0d;
  margin-bottom: 96px;
}

.sitenav {
}
.sitenav__container {
  display: flex;
flex-wrap: wrap;
  justify-content: space-between;
}
.container {
}
.sitenav__div {
  width: 624px;
  
}
.sitenav__atm {
  font-family: Poppins;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0px;
  color: #ffffff;
}
.sitenav__title {
  width: 528px;
  height: 48px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
}
.sitenav__itemes {
    display: flex;
    justify-content: center;
  
}
.sitenav__images {
    width: 563px;
    height: 632px;
    margin-bottom: 32px;
  
    
}


.sitenav__list {
    display: flex;
    justify-content: space-between;
}
.sitenav__item {
}